Source: vdr-gui
Section: misc
Priority: extra
Maintainer: Horst Tritremmel <peter_weber69@gmx.at>
Uploaders: Stefan Lippers-Hollmann <s.l-h@gmx.de>
Build-Depends: debhelper (>= 6), automake1.10, autotools-dev, libgtk2.0-dev, libglade2-dev
Standards-Version: 3.7.3
Vcs-Svn: svn://svn.berlios.de/fullstory/vdr-gui/trunk
Vcs-Browser: http://svn.berlios.de/wsvn/fullstory/vdr-gui/trunk/

Package: vdr-gui
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, sidux-vdr (>= 1.2.11), menu
Description: GUI for Video Disc Recorder (VDR)
 This is a gui for a simply vdr handling
