#!/usr/bin/make -f

%:
	dh ${@}

override_dh_auto_configure:
	autoreconf -fi
	dh_auto_configure

override_dh_install:
	DESTDIR=$(CURDIR)/debian/vdr-gui po/make_po.sh vdr-gui.mo
	dh_install

override_dh_clean:
	rm -f	depcomp \
		INSTALL \
		missing \
		install-sh \
		configure \
		config.h.in \
		config.guess \
		config.sub \
		aclocal.m4
	dh_clean
